.title {
  font-weight: 700;
  font-size: 1.625rem;

  color: var(--marine-blue);
}

.description {
  font-weight: 400;
  font-size: 1rem;

  color: var(--cool-gray);
  margin-top: 20px;
}

.form {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: flex-end;

  margin-top: 52px;
}
