.container {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);

  transition: all 150ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  @media (max-width: 760px) {
    padding: 16px;
  }
}

.selected {
  border: 1px solid var(--purplish-blue);
  background-color: var(--alabaster);
}

.price {
  margin-left: auto;

  color: var(--purplish-blue);
  font-size: 0.75rem;
  font-weight: 400;
}

.label {
  margin-left: 30px;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--marine-blue);

  @media (max-width: 760px) {
    font-size: 0.75rem;
    font-weight: 700;
  }
}

.description {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--cool-gray);
  margin-top: 10px;

  @media (max-width: 760px) {
    margin-top: 6px;
    font-size: 0.625rem;
    font-weight: 400;
  }
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  accent-color: var(--purplish-blue);
}
