.container {
  background-color: var(--white);

  padding: 20px;
  border-radius: 8px;

  display: flex;
  min-height: 600px;
  min-width: 960px;

  @media (max-width: 768px) {
    padding: 0;
    flex-direction: column;

    min-width: 300px;

    background-color: transparent;
  }
}
