.title {
  font-weight: 700;
  font-size: 1.625rem;

  color: var(--marine-blue);
}

.description {
  font-weight: 400;
  font-size: 1rem;

  color: var(--cool-gray);
  margin-top: 20px;
}

.summaryContainer {
  margin-top: 45px;
  background-color: var(--alabaster);
  border-radius: 8px;
  padding: 24px;
}

.planWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 35px;
  border-bottom: 1px solid var(--light-gray);
}

.plan {
  display: flex;
  flex-direction: column;
  gap: 8px;

  strong {
    font-size: 1rem;
    font-weight: 700;
    color: var(--marine-blue);
  }

  small {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--cool-gray);
    text-decoration: underline;
    cursor: pointer;
  }
}

.planPrice {
  font-weight: 700;
  font-size: 1rem;
  color: var(--marine-blue);
}

.addonsList {
  margin-top: 35px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.addon {
  font-size: 1rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;

  small {
    color: var(--cool-gray);
    display: flex;
    align-items: center;
    gap: 6px;
  }

  span {
    font-weight: 500;
    color: var(--marine-blue);
  }
}

.total {
  padding: 0 24px;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--cool-gray);
  }

  span {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--purplish-blue);
  }
}

.btn {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.planUndefined {
  margin-top: 45px;
  color: var(--marine-blue);

  span {
    font-weight: 500;
    text-decoration: underline;
    color: var(--purplish-blue);
    cursor: pointer;
  }
}

.submitSummary {
  width: 100%;
  padding: 0 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  strong {
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 2rem;
    font-weight: 700;
    color: var(--marine-blue);
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cool-gray);
  }
}
